<ion-header>
    <ion-toolbar color="dark">
        <ion-buttons slot="start">
            <ion-menu-button color="light"></ion-menu-button>
          </ion-buttons>
  
      <ion-title color="light">History</ion-title>
    </ion-toolbar>
  </ion-header>


<ion-content>   
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" 
          pullingText="Pull to refresh" refreshingSpinner="circles"
          refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>
  
    <p *ngIf="isempty" align="center" style="margin-left: 5px; margin-right: 5px; margin-top: 15px">
      You have not done any transactions yet. Buy or sell a spot!!
    </p>


    <!-- <ionic4-star-rating #rating
    activeIcon = "ios-star"
    defaultIcon = "ios-star-outline"
    activeColor = "#488aff" 
    defaultColor = "#f4f4f4"
    readonly="false"
    rating="3"
    fontSize = "32px"
    (ratingChanged)="logRatingChange($event)">
</ionic4-star-rating> -->


    <ion-item *ngFor="let transaction of transactionlist" style="margin-right: 10px">
      <ion-row class="transactions">
        <ion-col style="margin-top: 8px" size="2">
          <ion-icon *ngIf="transaction.type == 'out'" style="font-size: 24px" name="arrow-up" color="danger"></ion-icon>
          <ion-icon *ngIf="transaction.type == 'in'" style="font-size: 24px" name="arrow-down" color="secondary"></ion-icon>
        </ion-col>
        <ion-col size="8">
          <b>{{transaction.aboutspot.pintype}}</b><br>
          <span style="font-size: 14px">{{transaction.desctoshow}}</span>
          <!-- <p>{{transaction.aboutspot.description}}</p> -->
        </ion-col>
  
        <ion-col size="2">
          <b>${{transaction.pricetoshow}}</b>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-content>