<ion-content>
  <div class="content_bg" padding>
    <!-- Top part with logo -->
    <ion-grid>
      <ion-row style="justify-content: center;">
        <div>
          <img alt="logo" height="45" class="timg" src="../../assets/icon/logom1.png">
        </div>
        <div style="margin-top: 10px; font-size: 24px; color:white; padding-left: 5px;">SPOTSWOPPER</div>
      </ion-row>
      <ion-row class="knowrow">Know where you stand</ion-row>
    </ion-grid>

    <!-- Seperator -->
    <div style="margin-top: 4vh"></div>



    <!-- <div class="animated bounce delay-2s">  
      <div class="list card animated tada delay-2s">  
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>  -->

    <!-- Form -->

    <div class="items">
      <ion-grid>
        <ion-row>
          <ion-col size="1">
            <ion-icon style="font-size: 26px; color: rgba(255, 255, 255, 0.3)" start name="ios-contact"></ion-icon>
          </ion-col>
          <ion-col>
              <ion-input no-padding placeholder="Username / Email" [(ngModel)]="email" class="myinput" type="email" required>
              </ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <!-- Seperator -->
    <div style="margin-top: 1.3vh"></div>


    <div class="items">
        <ion-grid>
          <ion-row>
            <ion-col size="1">
              <ion-icon style="font-size: 26px; color: rgba(255, 255, 255, 0.3)" start name="ios-lock"></ion-icon>
            </ion-col>
            <ion-col>
                <ion-input no-padding placeholder="Password" [(ngModel)]="password" class="myinput" type="password" required>
                </ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>


    <div style="margin-top: 2vh"></div>

  <div align="center" style="color: white; font-size: 15px">Forgot Password</div>

  <div style="margin-top: 3.5vh"></div>

  <div>
      <ion-button  expand="round" style="width: 100%; height: 35px;" color="danger" (click)="signin()">SIGN IN</ion-button>
  </div>

  <!-- Seperator -->
  <div style="margin-top: 4vh"></div>
  
<div align="center" style="color: white; font-size: 20px; opacity: 0.9; margin-top: 50dp">---------------OR----------------</div>


  <!-- Seperator -->
<div style="margin-top: 4vh"></div>
<div  align="center" class="knowrow">Login with your social networks</div>



  <!-- Seperator -->
  <div style="margin-top: 4vh"></div>

<div>

    <ion-grid>
      
      <ion-row style="justify-content: center; padding-left: 20px;" >

        <div class="testclass" (click)="fblogin()">
                <img style="zoom:10%;" src="../../assets/icon/facebook.svg">
        </div>

        <div class="testclass" (click)="googleLogin()">
                  <img style="zoom:10%;" src="../../assets/icon/google.svg">
        </div>
        </ion-row>
    </ion-grid>
    
</div>


  <!-- Seperator -->
  <div style="margin-top: 4vh"></div>

<div routerLink="/register" routerDirection="forward" align="center" style="text-align:center;">
    <ion-label style="color:white; font-size: 17px;" >Dont have an account? Sign Up</ion-label>
</div>

  </div>

</ion-content>