@font-face {
    font-family: 'barbararegular';
    src: url('../assets/fonts/Barabara.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserat';
    src: url('../assets/fonts/Montserrat-regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'shintaku';
    src: url('../assets/fonts/shintaku.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserat-bold';
    src: url('../assets/fonts/Montserrat-Bold.otf');
    font-weight: normal;
    font-style: normal;
}