<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-content>

        <div style="width: 100%; height: 25vh; opacity: 0.9; background-color: black">
          <img style="margin-left: 16px; margin-top: 2vh" height="75" src="../assets/icon/man.svg">

          <div style="margin-left: 20px; margin-top: 1.3vh">
              <div style="color: white;  font-size: 16px">{{fullname}}</div>
              <div style="color: white;  font-size: 14px">{{useremail}}</div>
          </div>
         

        </div>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item (click)="checkPage(p)">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-grid style="margin-top: 8vh;">
            <ion-row style="justify-content: center;">
                    <div>
                            <img alt="logo" height="30" class="timg" src="../../assets/icon/logom1.png" >                        
                        </div>
                <div style="margin-top: 6px; color:tomato; padding-left: 5px;">SPOTSWOPPER</div>
            </ion-row>
        </ion-grid>
      </ion-content>




    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
