
    .topdiv{
        width: 100%;
        background-color: #000000;
        // background-image: url('../../assets/icon/background.jpg');
        padding-top: 10px;
        // background-color: #0e0d0d;
        align-content: center;
        text-align: center;      
        background-image: linear-gradient(to bottom right, black, #353535);

        height: 30vh;
    }

    ion-toolbar {
        // --background: url('../../assets/icon/background.jpg');
        --background-repeat: no-repeat;
        //  fixed center; 
     }

 
ion-content {
    --overflow: hidden;
  
  }