
    .reftext{
        align-self: center;
        align-content: center;
        text-align: center;
    }


    ion-toolbar {
        --background: url('../../assets/icon/background.jpg');
        --background-repeat: no-repeat;
        //  fixed center; 
     }