
 <ion-header>
      <ion-toolbar>
          <ion-buttons slot="start">
              <ion-menu-button color="light"></ion-menu-button>
            </ion-buttons>
    
        <ion-title color="light">Referrals</ion-title>
      </ion-toolbar>
    </ion-header>  
  
<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" 
          pullingText="Pull to refresh" refreshingSpinner="circles"
          refreshingText="Refreshing...">
        </ion-refresher-content>
      </ion-refresher>
  
  
    <p *ngIf="isempty" align="center" style="margin-left: 5px; margin-right: 5px; margin-top: 15px">
        You have no referrals yet. Share your referral code <b>{{refcode}}</b> to friends to invite them and get <b style="color: #fe3300">5%!!</b> of their first purchase!!
    </p>

    <ion-item *ngFor="let ref of refereeslist" style="margin-right: 10px">
        <ion-icon name="ios-person">
          </ion-icon>
      <ion-label>
        {{ref.email}}
      </ion-label>
    </ion-item>
  
</ion-content>
