<ion-header>
  <!-- <ion-toolbar color="dark"> -->
  <div class="mynavbar">
    <!-- Floating search list -->
    <ion-list class="floatinglist" [hidden]="autocompleteItems.length == 0">
      <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
        {{ item.description }}
      </ion-item>
    </ion-list>

    <ion-row style="height: 45px; padding: 0px">
      <ion-col size="1.5">
        <ion-menu-button (click)="showSplitPane()" color="light"></ion-menu-button>
      </ion-col>

      <ion-col
        style="width: 100%; padding: 0px; height: 100%; text-align: center; vertical-align: middle; line-height: 45px"
        size="9">

        <!-- Title and logo -->
        <div *ngIf="!isOn" style="color: white; font-size: 18px">
          <img style="padding-top: 10px" height="26" src="../../assets/icon/logom1.png">
          SPOTSWOPPER
        </div>

        <!-- Searchbar -->
        <div class="test" *ngIf="isOn">
          <!-- <ion-input style="color: white; height: 35px;" no-padding placeholder="Search by Address/Zip">
      
              </ion-input> -->
          <ion-searchbar style="height: 35px; color: #000000" no-padding #topsearch placeholder="Search by Address/Zip"
            [(ngModel)]="autocomplete.input" (ionInput)="updateSearchResults()"></ion-searchbar>
        </div>
      </ion-col>

      <!-- Search and close button -->
      <ion-col (click)="toggleSearchbar()"
        style="width: 100%; height: 100%; text-align: end; vertical-align: middle; line-height: 45px;" size="1.5">
        <ion-icon *ngIf="!isOn" style="font-size: 24px; margin-right: 2px; color: white" name="search"></ion-icon>
        <ion-icon *ngIf="isOn" style="font-size: 24px; margin-right: 2px; color: white" name="close"></ion-icon>
      </ion-col>
    </ion-row>
  </div>
  <!-- </ion-toolbar> -->


</ion-header>

<ion-content #content>

  <div style="cursor: pointer;" [hidden]="isTutorialOneHidden" (click)="hideTutorials(1)" style="width: 100vw; 
  height: 100vh; background-color: rgba(41, 41, 41, 0.3);
  position: absolute;
  top: 0px;
  z-index: 7;
  padding-top: 20px;
  position: absolute;
  ">

      <p style="float: right; font-weight: 500; text-decoration: underline; font-size: 18px; margin-right: 30px; cursor: pointer;">Skip
      </p>

    <div style="width: 100vw; position: absolute; left: 60px; bottom: 20px;">
      <div>
        <span style="font-family: shintaku; text-align: center; font-size: 30px; color: #FF7C0B ">Click here</span><br>
        <span style="font-family: shintaku; text-align: center; font-size: 30px; color: #FF7C0B ">To filter
          spots</span><br>
        <div style="width: 100vw; margin-bottom: 10px;"><img style="padding-left: 35px;" height="100px"
            src="../../assets/icon/arrow.png"></div>
        <img height="80px">
      </div>
    </div>
  </div>

  <div style="cursor: pointer;" [hidden]="isTutorialTwoHidden" (click)="hideTutorials(2)" style="width: 100vw; 
  height: 100vh; background-color: rgba(41, 41, 41, 0.3);
  position: absolute;
  top: 0px;
  z-index: 7;
  padding-top: 20px;
  position: absolute;
  text-align: center;
  ">

          <p
            style="float: left; font-weight: 500; text-decoration: underline; font-size: 18px; margin-left: 30px; cursor: pointer;">
            Skip</p>



    <div style="width: 100vw; position: absolute; top: 20px;">
      <div>
        <div style="width: 100vw; margin-top: 10px; padding-right: 40px;">
          <img style="float: right; transform: scale(-1, -1);" height="100px" src="../../assets/icon/arrow.png"></div>
        <img height="50px">
        <br>
        <br>
        <br>

        <span style="font-family: shintaku; font-size: 30px; color: #FF7C0B ">Click here</span><br>
        <span style="font-family: shintaku; font-size: 30px; color: #FF7C0B ">to search for spots</span><br>
      </div>
    </div>
  </div>

    <div style="cursor: pointer;" [hidden]="isTutorialThreeHidden" (click)="hideTutorials(3)" style="width: 100vw; 
  height: 100vh; background-color: rgba(41, 41, 41, 0.3);
  position: absolute;
  top: 0px;
  z-index: 7;
  padding-top: 20px;
  position: absolute;
  text-align: center">

      <p style="float: right; cursor: pointer; font-weight: 500; text-decoration: underline; font-size: 18px; margin-right: 30px;">Skip</p>


      <div style="width: 100vw; position: absolute; top: 20px;">
        <div>
          <div style="width: 100vw; margin-top: 10px; padding-left: 40px;">
            <img style="float: left; transform: scaleY(-1);" height="100px" src="../../assets/icon/arrow.png"></div>
          <img height="50px">
          <br>
          <br>
          <br>
          <br>


          <span style="font-family: shintaku; font-size: 30px; color: #FF7C0B ">Click here to open menu</span><br>
          <span style="font-family: shintaku; font-size: 30px; color: #FF7C0B ">then click on "Help" to</span><br>
          <span style="font-family: shintaku; font-size: 30px; color: #FF7C0B ">view more tips!!</span><br>

        </div>
      </div>
    </div>




  <div *ngIf="isFilterSelected" class="filterdiv animated fadeInUp">
    <div style="width: 100%; text-align: center; margin-top: 10px; padding-left: 20px">Filter Spots
      <ion-icon (click)="changecolorandsize(1)" name="close"
        style="float: right; padding-left: 20px; margin-right: 10px"></ion-icon>
    </div>

    <ion-list>
      <ion-radio-group [(ngModel)]="filteredspottype">

        <ion-item>
          <ion-label>Hunting Spot</ion-label>
          <ion-radio value="Hunting Spot"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Fishing Spot</ion-label>
          <ion-radio value="Fishing Spot"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Lease Spot</ion-label>
          <ion-radio value="Lease Spot"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Spot for Sale</ion-label>
          <ion-radio value="Spot for Sale"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Private Spot</ion-label>
          <ion-radio value="Private Spot"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Camping Spot</ion-label>
          <ion-radio value="Camping Spot"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Lodge Spot</ion-label>
          <ion-radio value="Lodge Spot"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>MISC categories</ion-label>
          <ion-radio value="MISC categories"></ion-radio>
        </ion-item>

        <br>
      </ion-radio-group>

    </ion-list>

    <div (click)="applyFilters()" class="selectbtn">
      Apply Filters
    </div>
  </div>

  <!-- Floating button to zoom to user's current location -->
  <ion-fab style="margin-bottom: 12vh;" (click)="gotomypos()" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="md-locate" color="white"></ion-icon>
    </ion-fab-button>
  </ion-fab>

 <div class="mapandtabs">
    <div #mymap id="map">
    </div>

 
    <div style="width: 100%;  position: absolute;top: calc(100vh - 105px); z-index: 9;">
      <div (click)="changecolorandsize(1)" class="bottoms">
        <p style="margin: 0px;" align="center">
          <ion-icon style="font-size: 30px;" [color]="isFilterSelected ? selected : unselected"
            src="assets/icon/filter.svg"></ion-icon>
          <ion-label style="font-size: 13px; display: block;" [color]="isFilterSelected ? selected : unselected">Filter
            Spots</ion-label>
        </p>
      </div>

      <div (click)="changecolorandsize(2)" class="bottoms">
        <p style="margin: 0px;" align="center">
          <ion-icon style="font-size: 30px;" [color]="isListedSelected ? selected : unselected"
            src="assets/icon/list.svg"></ion-icon>
          <ion-label style="font-size: 13px; display: block;" [color]="isListedSelected ? selected : unselected">Spots
            Listed</ion-label>
        </p>
      </div>

      <div (click)="changecolorandsize(3)" class="bottoms">
        <p style="margin: 0px;" align="center">
          <ion-icon style="font-size: 30px;" [color]="isSoldSelected ? selected : unselected" color="light"
            src="assets/icon/sold.svg"></ion-icon>
          <ion-label style="font-size: 13px; display: block;" [color]="isSoldSelected ? selected : unselected">Spots
            Sold</ion-label>
        </p>
      </div>

      <div (click)="changecolorandsize(4)" class="bottoms">
        <p style="margin: 0px;" align="center">
          <ion-icon style="font-size: 28px;" [color]="isPurchasedSelected ? selected : unselected" color="light"
            src="assets/icon/cart.svg"></ion-icon><br>
          <ion-label style="font-size: 11px; " [color]="isPurchasedSelected ? selected : unselected">Spots Purchased
          </ion-label>
        </p>
      </div>
    </div>
   
  </div> 


</ion-content>