<ion-header>
  <ion-toolbar class="navclass" color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
<!--     
    <ion-searchbar no-padding 
    #topsearch
  placeholder="Search by address or zip code"
  [(ngModel)]="autocomplete.input" (ionInput)="updateSearchResults()"
     *ngIf="isOn"></ion-searchbar> -->

     
    <ion-title  *ngIf="!isOn">
      <div class="titlediv">
        <img style="float: left;" height="25" src="../../assets/icon/logom1.png">
        <div style="margin-left: 5px; float: left;">SPOTSWOPPER</div>
      </div>
    </ion-title>
    

    <ion-buttons slot="end" *ngIf="!isOn" (click)="toggleSearchbar()">
        <ion-icon style="font-size: 24px; margin-right: 2px; color: white" name="search"></ion-icon>
    </ion-buttons>

    <ion-buttons slot="end" *ngIf="isOn" (click)="toggleSearchbar()">
        <ion-icon style="font-size: 24px; margin-right: 2px; color: white" name="close"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content #content class="contentdiv">

  <!-- Floating button to zoom to user's current location -->
    <ion-fab style="margin-bottom: 60px;" (click)="gotomypos()" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
          <ion-icon name="md-locate" color="white"></ion-icon>
        </ion-fab-button>
      </ion-fab>

      <div>
          <!-- The map -->
      <div #mymap id="map">
      </div>

      <!-- The bottom tabs -->
        <ion-tabs>
            <ion-tab-bar slot="bottom" color="dark" class="mytab" id="mytabb">
              <ion-tab-button (click)="changecolorandsize(1)">
                  <ion-icon [color]="isFilterSelected ? selected : unselected" src="assets/icon/filter.svg"></ion-icon>
                  <ion-label style="font-size: 10px" [color]="isFilterSelected ? selected : unselected">Filter Spots</ion-label>
            </ion-tab-button>

              <ion-tab-button (click)="changecolorandsize(2)">
                <ion-icon [color]="isListedSelected ? selected : unselected" src="assets/icon/list.svg"></ion-icon>
                <ion-label style="font-size: 10px" [color]="isListedSelected ? selected : unselected">Spots Listed</ion-label>
                <ion-badge>6</ion-badge>
              </ion-tab-button>
          
              <ion-tab-button (click)="changecolorandsize(3)">
                <ion-icon [color]="isSoldSelected ? selected : unselected" color="light" src="assets/icon/sold.svg"></ion-icon>
                <ion-label style="font-size: 10px" [color]="isSoldSelected ? selected : unselected">Spots Sold</ion-label>
              </ion-tab-button>
          
              <ion-tab-button (click)="changecolorandsize(4)">
                <ion-icon [color]="isPurchasedSelected ? selected : unselected" color="light" src="assets/icon/cart.svg"></ion-icon>
                <ion-label style="font-size: 10px" [color]="isPurchasedSelected ? selected : unselected">Spots Purchased</ion-label>
              </ion-tab-button>
    
            </ion-tab-bar>
          </ion-tabs>
  
      </div>


 























</ion-content>


<!-- <ion-footer> -->

<!-- </ion-footer> -->
