<ion-header>
  <!-- <ion-toolbar color="dark"> -->
  <div class="mynavbar">
    <!-- Floating search list -->
    <ion-list class="floatinglist" [hidden]="autocompleteItems.length == 0">
      <ion-item *ngFor="let item of autocompleteItems" tappable (click)="selectSearchResult(item)">
        {{ item.description }}
      </ion-item>
    </ion-list>

    <ion-row style="height: 45px; padding: 0px">
      <ion-col size="1.5">
        <ion-menu-button color="light"></ion-menu-button>
      </ion-col>

      <ion-col
        style="width: 100%; padding: 0px; height: 100%; text-align: center; vertical-align: middle; line-height: 45px"
        size="9">

        <!-- Title and logo -->
        <div *ngIf="!isOn" style="color: white; font-size: 18px">
          <img style="padding-top: 10px" height="26" src="../../assets/icon/logom1.png">
          SPOTSWOPPER
        </div>

        <!-- Searchbar -->
        <div class="test" *ngIf="isOn">
          <!-- <ion-input style="color: white; height: 35px;" no-padding placeholder="Search by Address/Zip">
      
              </ion-input> -->
          <ion-searchbar style="height: 35px;" no-padding #topsearch placeholder="Search by Address/Zip"
            [(ngModel)]="autocomplete.input" (ionInput)="updateSearchResults()"></ion-searchbar>
        </div>
      </ion-col>

      <!-- Search and close button -->
      <ion-col (click)="toggleSearchbar()"
        style="width: 100%; height: 100%; text-align: end; vertical-align: middle; line-height: 45px;" size="1.5">
        <ion-icon *ngIf="!isOn" style="font-size: 24px; margin-right: 2px; color: white" name="search"></ion-icon>
        <ion-icon *ngIf="isOn" style="font-size: 24px; margin-right: 2px; color: white" name="close"></ion-icon>
      </ion-col>
    </ion-row>
  </div>
  <!-- </ion-toolbar> -->


</ion-header>

<ion-content #content class="contentdiv">

  <div *ngIf="isFilterSelected" class="filterdiv animated fadeInUp">
    <div style="width: 100%; text-align: center; margin-top: 10px; padding-left: 20px">Filter Spots
      <ion-icon (click)="changecolorandsize(1)" name="close"
        style="float: right; padding-left: 20px; margin-right: 10px"></ion-icon>
    </div>

    <ion-list>
      <ion-radio-group [(ngModel)]="filteredspottype">
        
        <ion-item>
          <ion-label>Hunting Spot</ion-label>
          <ion-radio value="Hunting Spot"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Fishing Spot</ion-label>
          <ion-radio value="Fishing Spot"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Lease Spot</ion-label>
          <ion-radio value="Lease Spot"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Spot for Sale</ion-label>
          <ion-radio value="Spot for Sale"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Private Spot</ion-label>
          <ion-radio value="Private Spot"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Camping Spot</ion-label>
          <ion-radio value="Camping Spot"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Lodge Spot</ion-label>
          <ion-radio value="Lodge Spot"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>MISC categories</ion-label>
          <ion-radio value="MISC categories"></ion-radio>
        </ion-item>

        <br>
      </ion-radio-group>

    </ion-list>

    <div (click)="applyFilters()" class="selectbtn">
      Apply Filters
    </div>
  </div>

  <!-- Floating button to zoom to user's current location -->
  <ion-fab style="margin-bottom: 12vh;" (click)="gotomypos()" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="md-locate" color="white"></ion-icon>
    </ion-fab-button>
  </ion-fab>




  <div>
    <!-- The map -->
    <div #mymap id="map">
    </div>

    <!-- The bottom tabs -->
    <ion-tabs>
      <ion-tab-bar color="dark" class="mytab" id="mytabb">
        <ion-tab-button (click)="changecolorandsize(1)">
          <ion-icon [color]="isFilterSelected ? selected : unselected" src="assets/icon/filter.svg"></ion-icon>
          <ion-label style="font-size: 10px" [color]="isFilterSelected ? selected : unselected">Filter Spots</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="changecolorandsize(2)">
          <ion-icon [color]="isListedSelected ? selected : unselected" src="assets/icon/list.svg"></ion-icon>
          <ion-label style="font-size: 10px" [color]="isListedSelected ? selected : unselected">Spots Listed</ion-label>
          <!-- <ion-badge>6</ion-badge> -->
        </ion-tab-button>

        <ion-tab-button (click)="changecolorandsize(3)">
          <ion-icon [color]="isSoldSelected ? selected : unselected" color="light" src="assets/icon/sold.svg">
          </ion-icon>
          <ion-label style="font-size: 10px" [color]="isSoldSelected ? selected : unselected">Spots Sold</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="changecolorandsize(4)">
          <ion-icon [color]="isPurchasedSelected ? selected : unselected" color="light" src="assets/icon/cart.svg">
          </ion-icon>
          <ion-label style="font-size: 10px" [color]="isPurchasedSelected ? selected : unselected">Spots Purchased
          </ion-label>
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>

  </div>


</ion-content>