.titlediv{
  margin-left: 6%;
  display: flex;
  align-items: center;
  width: 50vw;
  text-align: center;
}

.mynavbar{
  height: 45px;
  // background-color: #222428;
  background: url('../../assets/icon/background.jpg');
  width: 100%;
}

#map{
  height: calc(100vh - 96px) !important;
  // height: 80vh;
  z-index: 4;
}

.topinfo{
  width: 100%;
  height: 40px;
  background-color: blue;
}

.wholecontainer{
  width: 100%;
  height: 100%;
}

.floatinglist{
  position: absolute;
  z-index: 12;
  top: 45px;
  // align-self: center;
  width: 100%;
}

.otherinfo{
  width: 100%;
  height: 40px;
  // background-color: blue;
}

.selectbtn{
  height: 35px;
  background-color:rgb(235, 235, 235);
  color: #fe3300;
  position: sticky;
  padding-top: 7px;
  bottom: 0px;
  border-radius: 0px 0px 12px 12px ;
  text-align: center;
  width: 100%;

}

.filterdiv{
  height: 350px;
  width: 90vw;
  margin-left: 5vw;
  opacity: 0.8;
  overflow-y: scroll;
  border-radius: 12px;
  position: absolute;
  z-index: 15;
  background-color: white;
  bottom: 30vh;
  animation-duration: 0.4s;
  // animation-delay: 4s;
}
 
ion-content {
  --overflow: hidden;
  background-color: transparent;
  width: 100%;
}

ion-tab-bar{
  height: 55px;

}

ion-tab-button{
  background: url('../../assets/icon/background.jpg');

}

.test{
  width: 100%;
  // background: #3c3c3c;
  background: white;

  height: 35px;
  border-radius: 8px;
  margin: 5px;
}

.contentdiv .scroll-content{
  width: 100%;
  overflow: hidden;
}

.titlediv{
  // this will be handled properly later
  padding-left: 20px;
  text-align: center;
}