<ion-content>

  <div class="content_bg" padding>

    <!-- Top part with logo -->
    <ion-grid>
      <ion-row style="justify-content: center;">
        <div>
          <img alt="logo" height="50" class="timg" src="../../assets/icon/logom1.png">
        </div>
        <div style="margin-top: 5px; font-size: 26px; color:white; padding-left: 5px;">SPOTSWOPPER</div>
      </ion-row>
      <ion-row class="knowrow">Know where you stand</ion-row>
    </ion-grid>

    <!-- Seperator -->
    <div style="margin-top: 3vh"></div>

    <ion-card style="background-color: white; margin-left: 28vw; border-radius: 10px; margin-right: 28vw;">

      <div style="margin-top: 1vh"></div>

      <div class="items">
        <ion-item style="width: 100%;">
          <ion-grid>
            <ion-row>
              <ion-col size="1">
                <ion-icon style="font-size: 22px; color: black; opacity: 0.8;" start name="ios-contact"></ion-icon>
              </ion-col>
              <ion-col size="11">
                <ion-input no-padding placeholder="Username / Email" [(ngModel)]="email" class="myinput" type="email">
                </ion-input>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </div>

      <div class="items">
        <ion-item style="width: 100%;">
          <ion-grid>
            <ion-row>
              <ion-col size="1">
                <ion-icon style="font-size: 22px; color: black; opacity: 0.8;" start name="ios-lock"></ion-icon>
              </ion-col>
              <ion-col size="11">
                <ion-input no-padding placeholder="Password" [(ngModel)]="password" class="myinput" type="password">
                </ion-input>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </div>

      <div class="items">
        <ion-item style="width: 100%;">
          <ion-grid>
            <ion-row>
              <ion-col size="1">
                <ion-icon style="font-size: 22px; color: black; opacity: 0.8;" start name="ios-lock"></ion-icon>
              </ion-col>
              <ion-col size="11">
                <ion-input no-padding placeholder="Password" [(ngModel)]="confirmpassword" class="myinput"
                  type="password">
                </ion-input>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </div>

      <div class="items">
        <ion-item style="width: 100%;">
          <ion-grid>
            <ion-row>
              <ion-col size="1">
                <ion-icon style="font-size: 22px; color: black; opacity: 0.8;" start name="ios-contact"></ion-icon>
              </ion-col>
              <ion-col size="11">
                <ion-input no-padding placeholder="Referral Code" [(ngModel)]="registerrefnumber" class="myinput"
                  type="password">
                </ion-input>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </div>

      <div style="margin-top: 3vh"></div>


      <p align="center">
        <ion-button expand="round" style="width: 60%; height: 30px;" color="danger" (click)="registerNewUser()">
          SIGN UP
        </ion-button>
      </p>


      <div style="margin-top: 3vh"></div>
      <div align="center" style="color: black; font-size: 13px; opacity: 0.9; margin-top: 50dp">By signing up you
        agree to
        our <u style="color: #fe3300; cursor: pointer;">Terms of use</u></div>
      <br>

      <!-- Seperator -->
      <div style="margin-top: 1vh"></div>
      <div align="center" style="color: black; font-size: 14px; opacity: 0.9; margin-top: 50dp">
        ---------------OR----------------</div>


      <!-- Seperator -->
      <div style="margin-top: 2vh"></div>
      <div align="center" class="loginwithsocialtext">Login with your social networks</div>



      <!-- Seperator -->
      <div style="margin-top: 3vh"></div>

      <div>


        <ion-grid>

          <ion-row style="justify-content: center; padding-left: 20px;">

            <div class="testclass" (click)="fblogin()">
              <img style="zoom:8%; cursor: pointer;" src="../../assets/icon/facebook.svg">
            </div>

            <div class="testclass" (click)="googleLogin()">
              <img style="zoom:8%; cursor: pointer;" src="../../assets/icon/google.svg">
            </div>
          </ion-row>
        </ion-grid>

      </div>


      <!-- Seperator -->
      <div style="margin-top: 1.5vh"></div>

      <div routerLink="/login" routerDirection="backward" align="center" style="text-align:center;">
        <ion-label style="color:black; cursor: pointer; font-size: 14px; cursor: pointer;">Already a member?
          <b>Login</b></ion-label>
      </div>

      <div style="margin-top: 4vh"></div>

    </ion-card>
  </div>
</ion-content>